<path-container background="cor2">
    <path-header></path-header>
    <body>

        <form class="float controles" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="interacao">
                <button type="submit" mat-fab [disabled]="myForm.invalid || telas.length <= 0 || sorteando">
                    <mat-icon>sync</mat-icon>
                </button>
                <button type="button" mat-fab color="warn" [disabled]="!bloquearForm" (click)="resetarForm()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div class="configuracao">
                <mat-form-field class="inputNumero">
                    <mat-label>Inicial</mat-label>
                    <input 
                    [disabled]="bloquearForm"
                    name="numeroInicial"
                    [(ngModel)]="numeroInicial"
                    type="number" 
                    matInput 
                    placeholder="Ex. 0,1,2...">
                </mat-form-field>

                <mat-form-field class="inputNumero">
                    <mat-label>Final</mat-label>
                    <input 
                    [disabled]="bloquearForm"
                    name="numeroFinal"
                    [(ngModel)]="numeroFinal"
                    type="number" 
                    matInput 
                    placeholder="Ex. 0,1,2...">
                </mat-form-field>

                <mat-button-toggle-group *ngIf="telas.length > 0" 
                    [disabled]="bloquearForm"
                    class="buttonToggleBox"  
                    name="telas" 
                    [(ngModel)]="telaSelecionada" 
                    multiple required aria-label="Font Style">
                    <mat-button-toggle *ngFor="let tela of telas" value="{{tela.numero}}">Tela {{tela.numero}}</mat-button-toggle>
                </mat-button-toggle-group>  
            </div>
        </form>                                 


        <div class="float numeros">
            <section *ngFor="let numero of numeros">
                <mat-checkbox id="check_{{numero}}" [checked]="numerosSorteados.includes(numero)" (change)="transferirNumero(numero)">
                    <div class="numeroLista">{{ numero }}</div>
                </mat-checkbox>
            </section>
        </div>
        <div class="float historico">
            <section *ngFor="let numeroSor of numerosSorteados">
                <div class="numeroLista">{{ numeroSor }}</div>
            </section>
        </div>
        <div class="resultadoAtual">
            {{ numeroAtual }}
        </div>
    </body>
</path-container>