<header>
    <nav>
      <ul>
        <li class="mobile-li">
          <a routerLink="/" class="logo">
            <mat-icon>
              home
            </mat-icon>
            Casa
            </a> 
        </li>
        <li *ngFor="let item of header" class="desktop">
          <a routerLink="{{ item.rota }}" ngClass="{{ item.class }}">
            <mat-icon>
              {{ item.icon }}
            </mat-icon>
            {{ item.nome }}
          </a> 
        </li>
        <li class="mobile">
          <button mat-fab color="info" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button> 
        </li>
      </ul>
    </nav>
    <nav [ngClass]="mobile">
      <div class="menu">
        <div class="header">
          <h1>Path Kings</h1>
          <button mat-fab color="warn" (click)="toggleMenu()">
            <mat-icon>close</mat-icon>
          </button>        
        </div>
        <div class="body">
          <li *ngFor="let item of header">
            <a routerLink="{{ item.rota }}">
              <mat-icon>
                {{ item.icon }}
              </mat-icon>
              {{ item.nome }}
            </a> 
          </li>
        </div>
      </div>
    </nav>
</header>