header ul {
    position: relative;
    width: 100dvw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    background: #12253f;
    box-shadow: 0 0 10px #00000038;
}

header a {
    min-width: 10dvh;
    height: 70px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
    text-shadow: 0 0 10px #00000042;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 4px;
    transition: .5s;
    cursor: pointer;
    gap: 10px;
}
header a:hover {
    background: var(--color2);
    color: var(--color1);
}

#tema {
    display: none;
}

#label-tema {
    cursor: pointer;
    color: var(--color1);
}

.favicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg, transparent, #12253f), url(../../assets/icons/2.png);
    background-size: 65px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

header .logo {
    position: absolute;
    top: 0px;
    left: 70px;
    padding: 0 70px 0 30px;
    border-radius: 0 35px 35px 0;
}

header .temas {
    position: absolute;
    right: 20px;
    display: grid;
    gap: 5px;
}

header .mobile {
    display: none;
    position: absolute;
    right: 120px;
}

header .mobile button {
    background: var(--color1);
    color: var(--color5);
}

p {
    color: var(--color1);
}

nav.ativado {
    position: absolute;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    z-index: 2000;
}

.vidro {
    width: 30dvw;
    height: 100dvh;
    background: #0002;
    backdrop-filter: blur(2px);
}

.menu {
    width: 70dvw;
    height: 100dvh;
    background: var(--color5);
    display: block;
}

.menu .header {
    width: 70dvw;
    height: 140px;
    background: var(--color4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.menu .header h1 {
    cursor: default;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.menu .body {
    width: 70dvw;
    height: calc(100dvh - 140px);
    display: block;
}

.menu .body a {
    width: 70dvw;
    margin: 0;
    padding: 0;
}
.menu .body a:hover {
    background: #0003;
    color: var(--color1);
}

.desativado {
    display: none;
}

@media (max-width: 700px) {
    .desktop {
        display: none;
    }
    header .mobile {
        display: block;
    }
}