.tempo {
    width: 100dvw;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: transparent;
    letter-spacing: 15px;
    font-size: 30dvw;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--info);
}

.tempo p {
    animation: ponto 2s infinite alternate linear;
}

@keyframes ponto {
    from {
        opacity: 0;
    }
}

.clima {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--info);
    background: transparent;
    box-shadow: 0 0 0 5px #0002;
}

.clima h1 {
    font-size: 3rem;
}

.clima p {
    font-size: 1rem;
}

@media (max-height: 270px) OR (max-width: 400px) {
    .clima h1 {
        font-size: 1rem;
    }
    .clima p {
        font: .6rem;
    }
    .clima img {
        width: 2rem;
    }
    .tempo {
        font-size: 20dvw;
    }
}