body {
    display: grid;
    place-items: center;
}

form {
    width: 400px;
    min-height: 200px;
    background: #eee9;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.buttonToggleBox {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#minutos {
    text-align: center;
}

.status {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    cursor: default;
    width: 100px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .5px dashed #0d0d0d;
    background: transparent;
    border-radius: 5px;
    color: #0d0d0d;
}