<path-container>
    <path-header></path-header>
    <body>
        <input (change)="uploadFile($event)" type="file" [multiple]="false" id="video" accept=".mp4, .webm">
        <input (change)="uploadFile($event)" type="file" [multiple]="false" id="imagem" accept=".jpeg, .jpg, .png, .webp">
        <input (change)="uploadFile($event)" type="file" [multiple]="false" id="audio" accept=".mp3, .wav">
        <input (change)="uploadFile($event)" type="file" [multiple]="false" id="powerpoint" accept=".pptx, application/vnd.ms-powerpoint">

        <fieldset id="controles">
            <legend>CONTROLES</legend>
            <div class="controle video">

            </div>
            <div class="controle imagem">

            </div>
            <div class="controle audio">

            </div>
            <div class="controle powerpoint">

            </div>
        </fieldset>

        <fieldset id="medias">
            <nav>
                <ul>
                    <li *ngFor="let tipo of listaTipos" class="navMedia" id="tipo.nome" (click)="navMidia(tipo.categoria)">
                        {{ tipo.categoria.toUpperCase() }}
                    </li>
                </ul>
            </nav>

            <div *ngFor="let tipo of listaTipos">
                <div  class="media {{tipo.categoria}}" *ngIf="tipo.categoria == tipoAtual">
                    <mat-button-toggle-group *ngIf="telas.length > 0" 
                        class="buttonToggleBox"  
                        name="telas" 
                        [(ngModel)]="telaSelecionada" 
                        multiple required aria-label="Font Style">
                      <mat-button-toggle value="todas" (click)="toggleTodasTelas(true)">Todas</mat-button-toggle>
                      <mat-button-toggle *ngFor="let tela of telas" value="{{tela.numero}}" (click)="toggleTodasTelas(false)">Tela {{tela.numero}}</mat-button-toggle>
                    </mat-button-toggle-group>   

                    <label for="{{tipo.categoria}}" class="upload">
                        <mat-icon>upload</mat-icon>
                    </label>
        
                    <div class="lista">
                        <div *ngFor="let dado of tipo.dados" class="media-item">
                            <p (click)="selecioneArquivo(dado)">{{ dado.nome }}</p>   
                            <p>
                                <button mat-icon-button (click)="deleteArquivo(dado)" [disabled]="telaSelecionada.length <= 0">
                                    <mat-icon>play_arrow</mat-icon>
                                </button>    
                                <button mat-icon-button (click)="deleteArquivo(dado.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </body>
</path-container>