input {
    display: none;
}

#controles {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 600px;
    height: calc(100dvh - 100px);
    border: 1px solid var(--color5);
    border-radius: 20px;
    display: grid;
    align-items: center;
}

#controles legend {
    font-size: 1.4rem;
    margin-left: 25px;
    letter-spacing: 10px;
    padding: 20px;
    font-weight: bold;
}

#controles .controle {
    width: 600px;
    height: calc((100dvh - 230px) / 4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#medias {
    margin: 60px 0 0 650px;
    width: calc(100dvw - 700px);
    height: calc(100dvh - 150px);
    border: none;
}

#medias ul {
    width: inherit;
    height: 60px;
    padding: 20px;
    background: var(--color1);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

#medias ul li {
    width: calc((100dvw - 700px) / 5);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color2);
    color: var(--color5);
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

#medias ul li:hover {
    height: 35px;
}

#medias .media {
    width: inherit;
    height: calc(100dvh - 150px - 80px);
    margin-top: 20px;
    box-shadow: 0 0 10px #0002;
    border-radius: 30px 10px 10px 30px;
    background: var(--color6);
    overflow: hidden auto;
}

.header {
    width: inherit;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--info);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
}

.upload {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--info);
    color: var(--succsses);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.upload:hover {
    background: var(--succsses);
    color: var(--info);
}

.lista {
    grid-column: span 2;
    width: calc(100dvw - 800px);
}

.lista .media-item {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #0002;
    padding: 10px 10px 0 10px;
    margin: 20px;
    background: #0003;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    cursor: default;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color5);
    border-radius: 0 40px 40px 0;
}

audio {
    display: none;
}