#controle {
    width: 90dvw;
    height: 70px;
    margin: 20px 0 0 5dvw;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--color2);
    border-radius: 15px;
    overflow: hidden;
}

#upload-box {
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color6);

    #select { 
        width: 200px;  
        background-color: var(--color6);
        height: 40px;
        padding: 10px 0;
        border-radius: 10px;
        text-align: center;
    }
    
    #upload {
        background-color: var(--color6);
        color: white;
    }
}
